.order-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 80vh;
  }

  .order-details {
    margin-top: 20px;
  }

  .product-item {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 4px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: #2980b9;
    }
  }
  .image_orderUser {
    width: 10rem;
  }
}

.tabbar {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabbar button {
  padding: 10px 15px;
  border: none;
  background: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

.tabbar button.active {
  background: #007bff;
  color: white;
}
.tabbar button.inactive {
  background: rgb(143, 139, 139);
  color: white;
}

.order-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.order-details {
  margin-top: 10px;
}

.product-item {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.product-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
