.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cfcfcf;
  background-image: url("../../assets/image/bg-login.png");
}

.login_content {
  display: flex;
  width: 80rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 50rem;
}
.containerSignup {
  .headerSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    span {
      font-size: 16px;
    }
  }
}

.register {
  width: 50rem;
  height: 50rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30rem;
  border: 1px;
}

.register_content {
  width: 40rem;
}

.login_image img {
  width: 40rem;
  height: 50rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login_form {
  flex: 1;
  padding: 0 20px;
  padding: 20px;
  border-radius: 3px;

  .login_form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .form-container {
    width: 400px;
    margin: 0 auto;
    margin-left: 400px;
  }
}
.signUp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: red;
  label {
    font-size: 200px;
  }
  .signUpNow {
    background-color: red;
  }
}
