.main-container {
  width: 100%;
  margin: auto;
  min-height: 85rem;
  .mySwiper {
    width: 100%;
    height: 400px;
    border-radius: 10px;
  }

  .slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-home {
    text-align: center;
    margin: 10px 0;
    label {
      font-weight: 600;
      font-size: 24px;
    }
  }
  .item-render {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    .text-title {
      margin-top: 5rem;
      text-align: center;
      width: 100%;
    }
    span {
      text-align: center;
      font-size: 16px;
    }
  }
}
