.modal-editAdmin {
  width: 70rem;
  height: 85rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;

  // justify-content: center;
  // align-items: center;
  h1 {
    color: #212121;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }

  form {
    gap: 20px;
    .select-edit {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    .button {
      display: flex;
      justify-content: flex-end;
      button {
        margin: 10px;
        width: 14rem;
        height: 5rem;
      }
    }
    .error-text {
      font-size: 12px;
      color: red;
    }
  }
}
