.discount-container {
  margin: 0 10px;
  .header-table {
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 10px;
    background-color: #f2f2f2;
  }
  .header-discount {
    width: 100%;
    // background-color: red;
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  .discount-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
  }

  .active {
    color: rgb(0, 98, 255);
  }

  .inactive {
    color: red;
  }

  .active-text {
    font-weight: bold;
  }

  .inactive-text {
    font-style: bold;
  }

  .discount-table th,
  .discount-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .discount-table th {
    background-color: #f2f2f2;
  }

  .discount-table tr:hover {
    background-color: #f5f5f5;
  }

  .discount-table td div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .discount-table-container {
    max-height: 300px;

    //overflow-y: auto;
  }

  .discount-button {
    border-radius: 5px;
    background-color: #e898f8;
    width: 20rem;
    height: 40px;
    margin-left: 5px;
    color: #ffffff;
    border: none;
    transition: background-color 0.3s;
  }
}
