.main {
  overflow-x: hidden;
  display: flex;
  flex: 1;
  &__outlet {
    flex: 1;
    width: 100%;
    padding-left: 250px;
  }
}
.layout {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.main__sidebar {
  position: fixed;
}
@media only screen and (max-width: 768px) {
  .main {
    overflow-x: hidden;
    display: flex;
    flex: 1;
    &__outlet {
      flex: 1;
      width: 100%;
      padding-left: 150px;
    }
  }
}
