.modal-pay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    gap: 20px;
    z-index: 1000;
    display: flex;
    .item {
      margin: 10px 0;
      display: flex;
      gap: 10px;
      .item-image {
        width: 15rem;
      }
    }
    .form-discount {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .flex {
      display: flex;
      flex-direction: column;
    }
    span {
      font-size: 12px;
    }
    .type-input {
      margin-top: 10px;
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      label {
        margin-right: 1rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      text {
        margin-right: 10px;
      }

      input[type="radio"] {
        display: none;

        + span {
          width: 1.5rem;
          height: 1.5rem;
          border: 1px solid #ccc;
          display: inline-block;
          margin-right: 0.5rem;
          position: relative;
        }

        &:checked + span::after {
          content: "";
          width: 50%;
          height: 50%;
          background-color: #007bff;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    .flex-total {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        color: red;
        font-size: 16px;
        border: 1px solid black;
      }
    }
    .select-address {
      width: 30rem;
      margin: 10px 0;
    }
    .info-user {
      display: flex;
      flex-direction: column;
    }
    .btn-payment {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        background-color: #007bff;
        color: white;
      }
    }
  }
}
