.footer-user {
  background-color: #4d4343;
  color: #ffffff;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center; 
  text-align: center;
  font-size: 1.6rem;
  border-top: 1px solid #ddd;
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
      width: 100%;
      max-width: 1200px;
    }

    .footer-logo {
      img {
        width: 120px;
        margin-bottom: 0.5rem;
      }

      p {
        font-weight: bold;
        margin: 0;
      }
    }

    .footer-contact {
      margin-top: 1rem;

      @media (min-width: 768px) {
        margin-top: 0;
      }

      p {
        margin: 0.2rem 0;

        a {
          color: #ff8c00;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
