.CreateProduct-container {
  min-height: 80rem;
  margin-left: 20px;
  // margin-right: 20px;
  .header-table {
    width: calc(100% - 40px);
  }

  .header-table th {
    position: relative;
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
    border-radius: 8px 8px 0 0;
  }
  .headerCreateProduct {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      font-size: 12px;
    }
  }
  form {
    padding: 10px 10px;
    height: 100%;
    width: 100%;
  }
  .item-flex {
    display: flex;
    gap: 10px;
  }
  .input-product {
    .select-item {
      flex: 3;
      margin: 10px 0;
    }
    label {
      font-size: 12px;
      font-weight: 600;
    }
  }
  .item_name {
    flex: 6;
  }
  .item_trademark {
    flex: 3;
  }
  .item_origin {
    flex: 3;
  }
  .item_material {
    flex: 3;
  }
  textarea {
    margin: 10px 0;
    min-width: 100%;
    min-height: 10rem;
    max-width: 60rem;
    max-height: 20rem;
    padding: 5px;
  }
  .textarea {
    border-radius: 10px;
    margin-right: 20px;
  }
  .error-text {
    color: red;
    font-size: 1.2rem;
    padding: 0.2px;
    margin-left: 10px;
    font-weight: 600;
  }
  .select {
    width: 30rem;
    margin: 10px 0;
  }
  .label_color {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 600;
  }
  .center {
    align-items: center;
  }
  .delete-button {
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    margin-right: 10px;
    height: px;
  }

  .delete-button:hover {
    background-color: darkred;
  }
  .file_inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .file_inputs div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  input[type="file"] {
    display: none;
  }

  .btn_image {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
    height: 50px;
    line-height: 35px;
  }

  .btn_image:hover {
    background-color: #0056b3;
  }

  .image {
    margin-top: 10px;
  }

  .image img {
    border-radius: 5px;
    border: 1px solid #ddd;
    object-fit: cover;
  }
  .btn_submit {
    display: flex;
    justify-content: flex-end;
    margin-right: 20rem;
    margin-top: 2rem;
  }
}
