.layout-user {
  display: flex;
  flex-direction: column;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .main-user {
    margin-top: 80px;
    padding: 20px;
    min-height: 80rem;
  }
}
